<!-- Footer
		============================================= -->
<footer id="footer">

    <div class="container">

        <!-- Footer Widgets
				============================================= -->
        <div class="footer-widgets-wrap clearfix">

            <div class="col_half">

                <section class="widget clearfix nomargin">

                    <img src="{{ "assets/images/logo-ambit.png" | absolute_url }}" alt="Ambit Logo" class="alignleft"
                        style="margin-top: 8px; padding-right: 18px; border-right: 1px solid #4A4A4A; width: 150px;">
                    <p>Ambit Accounting Solutions provide professional accounting services to <strong>small, mid &amp;
                            large scale</strong> businesses.</p>

                    <div class="line" style="margin: 30px 0;"></div>

                    <div class="row">

                        <div class="col-lg-12  bottommargin-sm widget_links">
                            <a href="http://directory.sban.com/united-states/miami/accountingpros/ambit-accounting-services?from=badge"
                                class="sban" title="Small Business Accountants Network" target="_blank">
                                <img src="{{ "assets/images/logo-sban.png" | absolute_url }}" />
                            </a>
                            <img src="{{ "assets/images/logo-bni.png" | absolute_url }}" class="bni" title="BNI Logo" alt="BNI Logo">
                            <img src="{{ "assets/images/logo-iso.png" | absolute_url }}" width="100" class="iso" title="ISO 9001:2015 Certified"
                                alt="ISO Certified Logo">
                            <img src="{{ "assets/images/logo-ca.jpg" | absolute_url }}" height="100" class="ca" title="CA" alt="CA Logo">
                        </div>

                    </div>

                </section>

            </div>

            <div class="col_half col_last">

                <div class="widget clear-bottommargin-sm clearfix">

                    <div class="row">

                        <div class="col-lg-6 bottommargin-sm">
                            <div class="footer-big-contacts">
                                <span>Call Us:</span>
                                <a href="tel:+17869996446">+1 786-999-6446</a>
                            </div>
                        </div>

                        <div class="col-lg-6 bottommargin-sm">
                            <div class="footer-big-contacts">
                                <span>Send an Email:</span>
                                <a href="mailto:info@ambitsol.co">info@ambitsol.co</a>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="widget subscribe-widget clearfix">
                    <div class="row">

                        <div class="col-lg-6 clearfix bottommargin-sm">
                            <a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin"
                                style="margin-right: 10px;">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>
                            <a href="#"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on
                                    Facebook</small></a>
                        </div>
                        <div class="col-lg-6 clearfix">
                            <a href="#" class="social-icon si-dark si-colored si-linkedin nobottommargin"
                                style="margin-right: 10px;">
                                <i class="icon-linkedin"></i>
                                <i class="icon-linkedin"></i>
                            </a>
                            <a href="#"><small style="display: block; margin-top: 3px;"><strong>Find us</strong><br>on
                                    Linked In</small></a>
                        </div>

                    </div>
                </div>

            </div>

        </div><!-- .footer-widgets-wrap end -->

    </div>

    <!-- Copyrights
			============================================= -->
    <div id="copyrights">

        <div class="container clearfix">

            <div class="col_half">
                Copyrights &copy; 2018 All Rights Reserved by Ambit Accounting Solutions<br>
                <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
            </div>

            <div class="col_half col_last tright">
                <div class="copyrights-menu copyright-links clearfix">
                    <a href="./index.html">Home</a>/<a href="./about-us.html">Who We Are</a>/
                    <a href="./services.html">What We Do</a>/<a href="./how-we-work.html">How We Work</a>/
                    <a href="./contact.html">Contact</a>
                </div>
            </div>

        </div>

    </div><!-- #copyrights end -->

</footer><!-- #footer end -->