<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<!-- <meta name="mojo" content="{{ page.title | default: site.title }}" />

	<meta name="description" content="{{ page.description | default: site.description }}"> -->
	{% seo %}
	<!-- Stylesheets
	============================================= -->
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,500,700" rel="stylesheet" type="text/css" />
	<!--build:css css/styles.min.css-->
	<link rel="stylesheet" href="{{ "assets/css/bootstrap.css" | absolute_url }}" type="text/css" />
	<link rel="stylesheet" href="{{ "assets/css/style.css" | absolute_url }}" type="text/css" />
	<link rel="stylesheet" href="{{ "assets/css/swiper.css" | absolute_url }}" type="text/css" />

	<!-- Construction Demo Specific Stylesheet -->
	<link rel="stylesheet" href="{{ "assets/css/construction.css" | absolute_url }}" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="{{ "assets/css/dark.css" | absolute_url }}" type="text/css" />
	<link rel="stylesheet" href="{{ "assets/css/font-icons.css" | absolute_url }}" type="text/css" />

	<link rel="stylesheet" href="{{ "assets/css/animate.css" | absolute_url }}" type="text/css" />
	<link rel="stylesheet" href="{{ "assets/css/magnific-popup.css" | absolute_url }}" type="text/css" />

	<link rel="stylesheet" href="{{ "assets/css/fonts.css" | absolute_url }}" type="text/css" />

	<link rel="stylesheet" href="{{ "assets/css/responsive.css" | absolute_url }}" type="text/css" />
	

	<link rel="stylesheet" href="{{ "assets/css/colors.css" | absolute_url }}" type="text/css" />
	<link rel="stylesheet" href="{{ "assets/css/custom.css" | absolute_url }}">
	<!-- endbuild -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Document Title
	============================================= -->
	<title>{{ page.title | default: site.title }}</title>
</head>