---
layout: default
title: Articles
---
<!-- Page Title
		============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1>{{page.title}}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{page.title}}</li>
        </ol>
    </div>

</section><!-- #page-title end -->
<!-- Content
		============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">

            <!-- Posts
					============================================= -->
            <div id="posts" class="post-grid row grid-container grid-2 clearfix" data-layout="fitRows">
                {% for post in site.posts %}
                <div class="entry clearfix">
                    <div class="entry-image">
                        <a href="{{post.image}}" data-lightbox="image"><img src="{{post.image}}"
                                alt="{{post.alt}}"></a>
                    </div>
                    <div class="entry-title">
                        <h2><a href="{{post.url}}">{{post.title}}</a></h2>
                    </div>
                    <ul class="entry-meta clearfix">
                        <li><i class="icon-calendar3"></i> {{ post.date | date_to_string }}</li>
                    </ul>
                    <div class="entry-content">
                        <p>{{post.excerpt}}</p>
                        <a href="{{post.url}}" class="more-link">Read More</a>
                    </div>
                </div>
                {% endfor %}
            </div><!-- #posts end -->
        </div>
    </div>
</section><!-- #content end -->